# Log level
log: info

# Dynatrace Configuration
dynatrace:
  # Dynatrace URL
  url: ""
  # Dynatrace API Key
  api_key: ""
  # Input directory containing Dynatrace synthetics tests definitions
  input: ""

  # Filters to apply to the list of tests
  filters:
    # Filters the resulting set of monitors to those which are part of the specified management zone ID.
    management_zone: ""
    # Filters the resulting set of monitors by specified tags.
    tags: []
    # Filters the resulting set of monitors by specified location ID.
    location: ""
    # Filters the resulting set of monitors to those of the specified type: BROWSER or HTTP.
    type: ""
    # Filters the resulting set of monitors to those which are enabled (true) or disabled (false)
    enabled: ""
    # Filters the resulting set of monitors to those using the specified credential ID.
    credential_id: ""
    # Filters the resulting set of monitors to those using the specified credential owner.
    credential_owner: ""
    # Filters the resulting set of monitors to those assigned to the specified application IDs.
    assigned_apps: ""

  # List of test IDs to fetch
  id_list: []
  # List of custom tags to add to the tests
  custom_tags: []


# Grafana Configuration
grafana:
  # Input directory containing Grafana dashboards definitions
  input: ""

  # API configuration
  api:
    # Host is the domain name or IP address of the host that serves the API.
    host: ""
    # BasePath is the URL prefix for all API paths, relative to the host root.
    base_path: ""
    # Schemes are the transfer protocols used by the API (http or https).
    schemes: []
    # APIKey is an optional API key or service account token.
    api_key: ""
    basic_auth:
      # Username for basic auth credentials.
      username: ""
      # Password for basic auth credentials.
      password: ""

    # OrgID provides an optional organization ID.
    org_id: 0


  # Filters to apply to the list of dashboards
  filters:
    # List of dashboard uid’s to search for
    dashboard_uids: []
    # Flag indicating if only soft deleted Dashboards should be returned
    deleted: false
    # List of folder UID’s to search in for dashboards
    folder_uids: []
    # Limit the number of returned dashboards (max 5000)
    limit: 0
    # Search Query
    query: ""
    # Flag indicating if only starred Dashboards should be returned
    starred: false
    # List of tags to search for
    tag: []
    # Type of dashboards to search for, dash-folder or dash-db
    type: ""



# Datadog Configuration
datadog:
  # The site of the Datadog intake to send data to.
  site: ""
  # The Datadog API key used to send data to Datadog
  api_key: ""
  # The application key used to access Datadog's programatic API
  app_key: ""
  # Output Directory
  output: ""

