# Log level
Log: info

# Dynatrace Configuration
Dynatrace:
  # Dynatrace URL
  URL: ""
  # Dynatrace API Key
  ApiKey: ""
  # Input directory containing Dynatrace synthetics tests definitions
  Input: ""
  # Filters to apply to the list of tests separated by & symbol
  Filters: ""
  # List of test IDs to fetch
  IdList: []


# Datadog Configuration
Datadog:
  # The site of the Datadog intake to send data to.
  Site: ""
  # The Datadog API key used to send data to Datadog
  ApiKey: ""
  # The application key used to access Datadog's programatic API
  AppKey: ""

# Output Directory
Output: ""
